<h1>signup page</h1>

<%= form_tag "/users/sign_up" do%>

  <label for="">firstname</label>
  <input name="firstname" type="text">

  <label for="">lastname</label>
  <input name="lastname" type="text">

  <label for="">email</label>
  <input name="email" type="text">

  <label for="">password</label>
  <input name="password" type="password">

  <button>submit</button>

<% end %>